@import "./../App/vars";
@import "./../App/base";
@import "./../App/reset";

.products {
    .product {
        display: grid;
        grid-template-columns:0.5fr 0.5fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        text-align: center;
        padding: 20px 0 20px 0;
        border-top: 1px solid;
        & > * {
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
        }
        .prod-discount {
            text-decoration: line-through;
            font-size: 15px;
            color: rgb(63, 63, 63);
            text-align: jcenter;
        }
        .hide {
            display: none;
        }
        .product__img {
            max-width: 100%;
        }
        .product__count {
            width: 50px;
            border-radius: 5px;
            justify-self: center;
            text-align: center;
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(60px, auto);
            column-gap: 15px;
            row-gap: 10px;
        }
    }

}
