@import "./../App/vars";
@import "./../App/base";
@import "./../App/reset";

.cart-footer__total {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 30px 0 30px 0;
    border-top: 3px solid;
    .total-price {
        grid-column-start: 4;
    }
    & > * {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.cart-footer__discount {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 15px 0 15px 0;
    border-top: 3px solid;
    border-bottom: 3px solid;
    .discount-value {
        width: 150px;
        border: 1px solid;
        grid-column-start: 2;
        justify-self: center;
        max-width: 180px;
        border-radius: 10px;
        padding: 10px 3px 10px 3px ;
        justify-self: center;
    }
    & > * {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    button {
        &:nth-child(2) {
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
        justify-self: center;
        transition: 0.3s;
        &:hover {
            background: rgba($color: #47478d, $alpha: 0.4);
            box-shadow: 0 0 10px 5px rgb(255, 255, 255);
        }
    }
    }
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(60px, auto);
        column-gap: 15px;
        row-gap: 10px;
        .discount-value {
            grid-column-start: 1;
        }
    }
}