@import "./../App/vars";
@import "./../App/base";
@import "./../App/reset";


.add-product__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    text-align: center;
    min-height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid;
    input {
        position: relative;
        max-width: 180px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px 3px 10px 3px ;
        justify-self: center;
    }
    .errs {
        &::placeholder {
            color: rgba($color: rgb(156, 8, 8), $alpha: 0.7);
        }
        color: rgba($color: rgb(156, 8, 8), $alpha: 0.7);
    }
 

    .product__controls {
        button {
            border: 1px solid;
            border-radius: 10px;
            width: 100px;
            padding: 10px 0 10px 0;
            justify-self: center;
            transition: 0.3s;
            &:hover {
                background: rgba($color: #5a5ab3, $alpha: 0.4);
                box-shadow: 0 0 10px 5px rgb(255, 255, 255);
            }
            &:disabled {
                color: rgb(87, 87, 87);
                &:hover {
                    background: rgba($color: #47478d, $alpha: 0.1);
                    box-shadow: 0 0 1px 1px rgb(0, 0, 0);
                }
            }
        }
    }
    
    .product__img {
        max-width: 100%;
    }

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(60px, auto);
        column-gap: 15px;
        row-gap: 10px;
    }

}

